/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

ul[class],
ol[class] {
	list-style: none;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	padding: 2rem;
}

/* Menu Module */
.menu{
	position: fixed;
	z-index: 500;
	width: 200px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open{
	display: block;
}
.menu.plug{
	display: none;
}
.menu .menu-item{
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color .2s ease-in;
	border-radius: inherit;
}
.menu-item.active{
	color: #48C9B0;
	pointer-events: none;
}

.menu .menu-item:hover{
	background: #343434;
}

/* CounterClicks Module */
.click-container-message{
	z-index: 1000;
	transition: all 0.6s ease 0s;
	position: fixed;
	top: 20px;
	right: -50%;
	background: #1b1a1a;
	color: #eee;
	font-size: 18px;
	padding: 20px;
	border-radius: 6px;
}

.click-container-message.active{
	right: 3%;
}

.click-container-message span{
	color: #48C9B0;
	font-size: 25px;
}

/* Timer Module */
.timer-modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.459);
	z-index: 1200;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer-modal__container{
	background: #fff;
	border-radius: 4px;
	padding: 40px 30px 30px 30px;
	position: relative;
}

.timer-modal__close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.timer-modal__close::before,.timer-modal__close::after{
	transition: all 0.4s ease 0s;
	content: "";
	position: absolute;
	background: #1A5276;
	width: 30px;
	height: 3px;
	left: 0;
	top: 14px;
}
.timer-modal__close::before{
	transform: rotate(45deg);
}

.timer-modal__close::after{
	transform: rotate(-45deg);
}

.timer-modal__close:hover::before{
	background: #48C9B0;
}
.timer-modal__close:hover::after{
	background: #48C9B0;
}

.timer-modal__form{
	display: flex;
	flex-direction: column;
}

.timer-modal__title{
	margin-bottom: 10px;
	font-size: 42px;
	font-weight: 600;
	color: #1A5276;
	text-align: center;
}

.timer-modal__input{
	padding: 20px;
	font-size: 17px;
	border-radius: 4px;
}

.timer-modal__input::placeholder{
	font-style: italic;
}

.timer-modal__validate{
	color: red;
	font-size: 13px;
	margin-top: 5px;
	opacity: 0;
}
.timer-modal__validate.active{
	opacity: 1;
}

.timer-modal__button{
	margin-top: 20px;
	padding: 10px 15px;
	background: #2471A3;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: all 0.4s ease 0s;
	align-self: center;
}

.timer-modal__button:hover{
	transform: scale(0.9);
	background: #1d567c;
}

.timer-modal__button.close{
	pointer-events: none;
	background: rgb(22, 22, 22);
	opacity: 0.5;
	box-shadow: 5px 5px 5px 2px black;
}

.timer{
	position: fixed;
	z-index: 200;
	transition: all 0.6s ease 0s;
	bottom: 20px;
	left: -110%;
	background: #1b1a1a;
	color: #eee;
	font-size: 18px;
	padding: 10px;
	border-radius: 6px;
}

.timer span{
	font-size: 35px;
	color: #48C9B0;
}

.timer.active{
	left: 20px;
}

/* CustomMessage Module */
.custom-message{
	position: fixed;
	right: 20px;
	background: #1b1a1a;
	color: #eee;
	z-index: 200;
	transition: all 0.6s ease 0s;
	font-size: 18px;
	padding: 10px;
	border-radius: 6px;
	max-width: 450px;
}

.custom-message__quote{
	margin-bottom: 7px;
}

.custom-message__author{
	color: #48C9B0;
	font-style: italic;
	font-size: 15px;
	text-align: right;
}

.custom-message.first{
	box-shadow: 0px 0px 5px 5px green;
	bottom: 20px;
}
.custom-message.second{
	box-shadow: 0px 0px 5px 5px yellow;
}
.custom-message.third{
	box-shadow: 0px 0px 5px 5px red;
}

/* Painting Module */
.header{
	transition: all 0.8s ease 0s;
	position: fixed;
	top: -120%;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 100;
	background: #1b1a1a;
	padding: 10px;
}
.header.active{
	top: 0;
}

.header__container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__title{
	color: #48C9B0;
	font-size: 30px;
	margin-right: 25px;
}

.row-colors{
	display: flex;
}

.row-colors__el{
	transition: all 0.3s ease 0s;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 10px;
}
.row-colors__el:hover{
	box-shadow: 0px 0px 5px 5px #fff;
}

.row-colors__el:last-child {
	margin-right: 0;
}

.sidebar{
	transition: all 0.8s ease 0s;
	position: fixed;
	height: 100%;
	left: -120%;
	top: 150px;
	width: 15%;
	background: #1b1a1a;
	z-index: 101px;
	padding: 10px;
	border-radius: 0px 6px 6px 0px;
}

.sidebar.active{
	left: 0;
}

.sidebar__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}

.sidebar__title{
	color: #48C9B0;
	font-size: 25px;
	margin-bottom: 25px;
}

.list-sidebar{
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.list-sidebar__el{
	transition: all 0.3s ease 0s;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.list-sidebar__el:hover{
	box-shadow: 0px 0px 5px 5px #fff;
}

.list-sidebar__el:last-child{
	margin-bottom: 0;
}

.list-sidebar__thickness{
	background: #48C9B0;
	border-radius: 50%;
}

.sidebar__close{
	transition: all 0.3s ease 0s;
	font-size: 22px;
	color: #8700FF;
	cursor: pointer;
}

.sidebar__close:hover{
	color: #48C9B0;
}

.canvas{
	transition: all 0.8s ease 0s;
	position: fixed;
	right: -120%;
	top: 150px;
	width: 80%;
	height: 100%;
	background: #f6f6f6c4;
	border-radius: 6px 0px 0px 6px;
}

.canvas.active{
	right: 0;
}